nav {
  border-bottom: 1px solid #af4eff;
}

nav .links {
  overflow: hidden;
}

nav .links ul {
  padding: 0;
  margin: 10px 0 0;
  font-size: 18px;
  position: relative;
}

nav .links ul li {
  display: inline-block;
  color: #af4eff;
  padding: 10px 20px 15px;
}

nav .links ul li:not(:last-of-type) {
  margin-right: 40px;
}

nav .links ul li:hover {
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

nav .links ul .ul-hover {
  position: absolute;
  z-index: -1;
  background-color: #af4eff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: -47px;
  transition: height 0.35s ease-in-out;
}

@media (max-width: 575px) {
  nav .links ul {
    margin: 10px 0 0;
    font-size: 15px;
  }

  nav .links ul li {
    display: inline-block;
    color: #af4eff;
    padding: 10px 15px 15px;
  }

  nav .links ul li:not(:last-of-type) {
    margin-right: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  nav .links ul {
    margin: 10px 0 0;
    font-size: 17px;
  }

  nav .links ul li:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider .content h1 {
    font-size: 33px;
    letter-spacing: 1px;
  }

  .slider .content p {
    font-size: 18px;
    width: 80%;
    letter-spacing: 0.5px;
  }
}
/*
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
} ; */
